@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

  *, *:before, *:after {
    box-sizing: border-box;
    user-select: none;
  }

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.5;
  font-size: 14px;
}

input, button, select, optgroup, textarea {
  font-family: inherit;
  font-size: 1rem;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

  a:hover {
    text-decoration: none;
  }

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /*font-family: Roboto,"Helvetica Neue",sans-serif;*/
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

textarea {
  line-height: 1.5;
}
/*-------------------------------------------*/

/*html {
  font-family: sans-serif;
  font-size: 16px;
}*/

/*input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}*/

/*input {
  height: 1.2rem;
}*/

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


/*.grid {
  display: grid;
  grid-gap: 0px;
  grid-template: "a     b     c"*/ /* row size */ /*minmax(50px, auto) "d     .     e"*/ /* row size */ /*minmax(50px, auto) ".     f     g"*/ /* row size */ /*minmax(50px, auto) "h     i     ."*/ /* row size */ /*minmax(50px, auto) / minmax(50px, auto) 1fr minmax(50px, auto);*/ /* columns size */
  /*color: #fff;
  font-weight: 500;
}

.grid__item {
  padding: .2em;
  background: #009688;*/
  /*border-radius: 5px;*/
  /*border: 1px solid #fff;
}*/


/*.mat-form-field-underline {
  display: none;
}*/


li {
  padding-left: 0.2rem;
  overflow: hidden;
}

h1 {
  font-size: 2rem;
  color: rgb(194, 24, 91);
}
